.navbar{
    background-color: transparent !important;
}
/* الخلفية الشفافة */
.navbar.transparent {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* الخلفية البيضاء */
  .navbar.scrolled {
    background-color: #e1e2f6 !important ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ظل خفيف */
    transition: background-color 0.3s ease-in-out;
}
.tazbeet{
    display: flex;
    width: 100%;
}
  
.navbar-nav{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 85%;
    
}
nav{
    width: 100%;
    background-color: white !important;
    display: flex;
    align-items: center;
}


.dropdown{
    margin-bottom: 0 !important;
}

.nav-link{
    color: var(--main-color) !important;
    font-weight: 700 !important;
    font-size: 1.05rem !important;
    margin-left: 15px;
    transition: all ease 0.8s;
}
.nav-link:hover{
    color: var(--second-color) !important;

}
.right-bar{
    margin-right: 0 !important;
    display: flex;
    width:30%;
}
.icon-search{
    color: #565acf;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.4rem;
}
.navbar-brand{
    display: flex;
    justify-content: center;
    text-align: center;
}
.icon-phone{
    color: #565acf;
    background-color: #d7d2d2;
    border: 10px solid #d7d2d2;
    border-radius: 10px;
    margin-right: 15px;

}

.phone-num{
    margin-left: 10px;
    color: var(--main-color);
    font-weight: bold;
    margin-right: 20px;
}

.contact-btn{
    margin-left: 15px;
    width: 50%;
    background-color: #565acf !important;
    border-color: #565acf !important;
    transition: all ease 0.5s !important;
    font-size: 1rem !important;
    text-transform: uppercase;
    height: 50px ;
    border-radius: 10px !important;
    
}
.right-bar button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-btn:hover{
    background-color: #454999 !important;
    
    border: 1px solid #454999 !important;

}
.cherv{
    margin-left: 15px;
    background-color: white;
    color: #565acf;
    border: 10px solid white;
    border-radius: 6px;
    font-size: small;
}

@media screen and (max-width: 1180px) {
    .right-bar{
        display:none ;
    }
    .logo{
        margin-left: 0;

    }
    nav{
        justify-content: space-between;
    }
    nav.container{
        margin: 0 !important;
    }
    .tazbeet{
        justify-content: space-between;
    }
    
}

